
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

# Symfony
/vendor/
/var/
/.env
/.idea/
/nbproject/
/.vscode/

# Node / Vue
/node_modules/
/dist/
/npm-debug.log*
yarn-error.log*
cityavis-front/public/images/
cityavis-front/.env
cityavis-front/.env.production

# Fichiers sensibles / logs
.env.dev
.env.test
*.log

# Données et documents internes
src/Csv/
*.odt
*.zip
